########################
#
#	file type
#
########################
*.pdf
*.dat
*.png
*.wmv
*.tif
*.avi
*.gif
*.jpg
*.exe
*.whl

*.pyc

*.ps


### 2017/05/26 15:36:59
*.fas

### 2018/02/20 15:16:22
*.mp4

### 2018/02/26 15:30:43
*.wav

### 2018/03/21 13:10:55
*.mid

### 2018/04/08 10:41:43
*.mp3

### 2018/04/09 14:18:06
*.xls


########################
#
#	directories
#
########################
GQF8XX/

JVEMV6/12#/entries.csv.20*.csv

free#/ELS7JR/3_1/*.vtu

proj_home-appliances-engineer/*/*.txt


denken-3/*.png


#2017/04/05 15:12:21

free#/K6H7DD_schroedinger/sketch_4_1_sine_curve/data/*.txt

#2017/05/03 18:21:11
free#/VX7GLZ_science-research/9_1/*.txt

############################ 2017/05/04 13:51:08 
free#/VX7GLZ_science-research/10_1/*.txt

free#/VX7GLZ_science-research/10_1/storage/*.txt

############################ 2017/05/05 13:28:35
free#/VX7GLZ_science-research/11_1/*.txt

free#/VX7GLZ_science-research/11_1/storage/*.txt

### 2017/05/26 15:36:59
free/VX7GLZ_science-research/21_lisp/*.lib
free/VX7GLZ_science-research/21_lisp/*/*.lib

### 2017/05/29 15:33:13
free/VX7GLZ_science-research/28_R/*.jpeg
free/VX7GLZ_science-research/28_R/*.jpg
free/VX7GLZ_science-research/28_R/*/*.jpeg
free/VX7GLZ_science-research/28_R/*/*.jpg

### 2017/06/03 23:14:28
library_books/*


### 2017/07/10 11:39:22
free/UH8G6E_CE/2_X/physics.js/

### 2017/07/19 06:16:31
/bk-/bk-153_clock-cycle/audios/

### 2017/07/19 14:38:45
bk-/bk-157_physics/images/

web_pages/

bk-/bk-165_euro/*/*AFPBB*

### 20170907_151322
JVEMV6/29/_1/*.xls

### 2017/09/16 16:09:22
#/JVEMV6/33/33_1/web-resources

### 2017/10/06 07:56:14
JVEMV6/34/smart sweepers - v1.0/

### 2017/11/13 17:29:35
free/V66ZEN_math-research/*/R.2-*

### 2017/11/25 13:07:16
JVEMV6/34/_2/GBPUSD/*

### 2017/12/30 13:28:10
free/VX7GLZ_science-research/27_math/27_5/12_/images/*.jpg
free/VX7GLZ_science-research/27_math/27_5/12_/images/images_20170719_144607/*jpg
free/VX7GLZ_science-research/27_math/27_5/12_/images/images_20170719_144607/storage/*jpg

### 2018/01/01 23:35:53
bk-/bk-209_TradingDrill_Yaguchi/8_/docs/*/*
#bk-/bk-209_TradingDrill_Yaguchi/8_/docs/*/*.jpg
#bk-/bk-209_TradingDrill_Yaguchi/8_/docs/*/*.png

### 2018/01/11 09:53:17
JVEMV6/37/*/*/*.txt
JVEMV6/37/*/*/*/*.txt


### 2018/01/11 18:45:30
free/fx/82_/1_/outputs/*

free/VX7GLZ_science-research/27_math/27_5/storage/12_/*/*/*/*jpg

### 2018/01/12 15:22:03
JVEMV6/34/data/

### 2018/01/17 10:06:07
free/VX7GLZ_science-research/27_math/27_5/29_/images/images_20180117_094030/storage

### 2018/01/22 07:31:24
bk-/storage_bk-/bk-209_TradingDrill_Yaguchi/8_/docs/*
bk-/storage_bk-/bk-165_euro/1_1/*
bk-/storage_bk-/bk-209_TradingDrill_Yaguchi/8_/docs
bk-/bk-209_TradingDrill_Yaguchi/8_/docs/*
free/fx/82_/82_10/*.log

### 2018/01/23 10:38:41
free/VX7GLZ_science-research/31_Materials/1_/*.mm
free/VX7GLZ_science-research/31_Materials/1_/storage_1_/*.mm
free/VX7GLZ_science-research/31_Materials/1_/*.log
free/VX7GLZ_science-research/31_Materials/1_/storage_1_/*.log

### 2018/01/24 18:26:29
prog/D-7/1_/TGDB/env/Lib/site-packages/*
prog/D-7/1_/TGDB/env/Lib/*
prog/D-7/1_/TGDB/env/Include/*
prog/D-7/1_/TGDB/env/tcl/*
prog/D-7/1_/TGDB/env/Scripts/*

### 
prog/D-7/1_/TGDB/django_project/*.txt
prog/D-7/1_/TGDB/django_project/blog/data/*.txt
prog/D-7/1_/TGDB/django_project/blog/*.txt
prog/D-7/1_/TGDB/django_project/storage_django_project/*.txt


free/VX7GLZ_science-research/27_math/27_7_Statistics/7.3/_2/data/*.txt

### 
prog/D-34/5_/VIRTUAL/env/Lib/site-packages/*
prog/D-34/5_/VIRTUAL/env/Lib/*
prog/D-34/5_/VIRTUAL/env/Include/*
prog/D-34/5_/VIRTUAL/env/tcl/*
prog/D-34/5_/VIRTUAL/env/Scripts/*

### 
prog/D-7/2_/VIRTUAL/env/*
prog/D-7/2_/VIRTUAL/env2/*

### 2018/01/30 18:07:51
prog/D-7/2_2/VIRTUAL/env/*

### 2018/02/13 11:38:24
free/VX7GLZ_science-research/26_Paraview/2_/data/*

### 2018/02/15 13:01:03
prog/D-7/2_2/VIRTUAL/Admin_Projects/curr/data/*

### 2018/02/16 15:35:46
JVEMV6/45_visual-arts/images/*.jpg
JVEMV6/45_visual-arts/images/*.png
JVEMV6/45_visual-arts/images/*.jpeg

### 2018/02/16 16:23:30
JVEMV6/45_visual-arts/images/1.1/*.jpg
JVEMV6/45_visual-arts/images/1.1/*.png
JVEMV6/45_visual-arts/images/1.1/*.jpeg

### 2018/02/18 23:47:14
prog/D-7/2_2/VIRTUAL/Admin_Projects/others/VX7GLZ/28_physics/1_/_16/*.png
prog/D-7/2_2/VIRTUAL/Admin_Projects/others/VX7GLZ/28_physics/1_/_16/images/*

### 2018/03/21 13:11:06
JVEMV6/46_art/3_/1_/pretty-midi/*
JVEMV6/46_art/3_/1_/pretty-midi/
JVEMV6/46_art/3_/1_/python-midi/
JVEMV6/46_art/3_/1_/python-midi/*

### 2018/04/06 15:33:11
JVEMV6/46_art/3_sound-prog/1_/pretty-midi
JVEMV6/46_art/3_sound-prog/1_/python-midi

