
        
        <tr>
            
            <td>2</td>
            
            <td>2</td>
            
            <td>move leaves (ver.2)</td>
            
            <td>
                <button onclick="bt_ShowHide_Areas('div_tbl_Anims_MoveLeaves_V_2_Options')"
			        class="bt_Basic_2_Size20"
			        
			        >
			        Show / Hide
			    </button>
			                
	            <div id="div_tbl_Anims_MoveLeaves_V_2_Options"
	               >
	            
	                <table>
	                
	                    <tr>
	                    
	                        <td
	                            >
	                        
				                loc_start_x
				                
	                        </td>
	                        <td>
	                            <input
	                                
	                                id="in_anims_move_leaves_v2_options_loc_start_x"
	                                value=300
	                                onmouseover="this.select()"
	                                />
	                            
	                        </td>
	                        <td>
	                            
	                            starting location (x)
	                        
	                        </td>
	                    
	                    </tr>
	                
	                    <tr>
	                    
	                        <td>
	                        
				                loc_start_y
				                
	                        </td>
	                        <td>
	                            <input
	                                
	                                id="in_anims_move_leaves_v2_options_loc_start_y"
	                                value=150
	                                onmouseover="this.select()"
	                                />
	                            
	                        </td>
	                        <td>
	                            
	                            starting location (y)
	                        
	                        </td>
	                    
	                    </tr>
	                
	                    <tr>
	                    
	                        <td
	                            >
	                        
				                loc_end_x
				                
	                        </td>
	                        <td>
	                            <input
	                                
	                                id="in_anims_move_leaves_v2_options_loc_end_x"
	                                value=300
	                                onmouseover="this.select()"
	                                />
	                            
	                        </td>
	                        <td>
	                            
	                            starting location (x)
	                        
	                        </td>
	                    
	                    </tr>
	                
	                    <tr>
	                    
	                        <td>
	                        
				                loc_end_y
				                
	                        </td>
	                        <td>
	                            <input
	                                
	                                id="in_anims_move_leaves_v2_options_loc_end_y"
	                                value=150
	                                onmouseover="this.select()"
	                                />
	                            
	                        </td>
	                        <td>
	                            
	                            starting location (y)
	                        
	                        </td>
	                    
	                    </tr>
	                
	                
	                    <tr>
	                    
	                        <td>
	                        
				                rotate_start
				                
	                        </td>
	                        <td>
	                            <input
	                            
	                                id="in_anims_move_leaves_v2_options_rotate_start"
	                                value=0
	                                onmouseover="this.select()"
	                            />
	                            
	                        </td>
	                        <td>
	                            
	                            starting degree
	                        
	                        </td>
	                    
	                    </tr>
	                
	                    <tr>
	                    
	                        <td>
	                        
				                rotate_end
				                
	                        </td>
	                        <td>
	                            <input
	                            
	                                id="in_anims_move_leaves_v2_options_rotate_end"
	                                value=45
	                                onmouseover="this.select()"
	                                
	                            />
	                            
	                        </td>
	                        <td>
	                            
	                            ending degree
	                        
	                        </td>
	                    
	                    </tr>
	                
	                    <tr>
	                    
	                        <td>
	                        
				                rotate_tick
				                
	                        </td>
	                        <td>
	                            <input
	                            
	                                id="in_anims_move_leaves_v2_options_rotate_tick"
	                                value=5
	                                onmouseover="this.select()"
	                                
	                            />
	                            
	                        </td>
	                        <td>
	                            
	                            rotating tick (degree)
	                        
	                        </td>
	                    
	                    </tr>
	                
	                    <tr>
	                    
	                        <td>
	                        
				                rotate_num
				                
	                        </td>
	                        <td>
	                            <input
	                            
	                                id="in_anims_move_leaves_v2_options_rotate_num"
	                                value=-1
	                                onmouseover="this.select()"
	                                
	                            />
	                            
	                        </td>
	                        <td>
	                            
	                            num of rotating ticks (how many cuts)
	                        
	                        </td>
	                    
	                    </tr>
	                
	                    <tr>
	                    
	                        <td>
	                        
				                source file
				                
	                        </td>
	                        <td>
	                            <input
	                            
	                                id="in_anims_move_leaves_v2_options_source_file"
	                                value="leaf-2.1.png"
	                                onmouseover="this.select()"
	                                
	                            />
	                            
	                        </td>
	                        <td>
	                            
	                            source image file
	                        
	                        </td>
	                    
	                    </tr>
	                
	                    <tr>
	                    
	                        <td>
	                        
				                source dir
				                
	                        </td>
	                        <td>
	                            <input
	                            
	                                id="in_anims_move_leaves_v2_options_source_dir"
	                                value="C:\WORKS_2\WS\WS_Others.Art\JVEMV6\46_art\VIRTUAL\Admin_Projects\anims\data\data_images"
	                                onmouseover="this.select()"
	                                
	                            />
	                            
	                        </td>
	                        <td>
	                            
	                            source image dir
	                        
	                        </td>
	                    
	                    </tr>
	                
	                </table>
	            
		            </div><!-- id="tbl_Anims_MoveLeaves_Options" -->
            
            </td>
            
        
        </tr>
