{% load taglib_basic %}

<!-- <div id="div_IFM11_List_Main"> -->

<table id="tbl_IP_Anims_Actions__Header">

        <tr>
            
            <th>
                No.
            </th>
                
            <th>
            
                ID
            
            </th>
            
            <th>
            
                Name
            
            </th>
            
            <th>
            
                Options
            
            </th>
            
        </tr>
        
        <tr>
            
            <td>1</td>
            
            <td>1</td>
            
            <td>move leaves</td>
            
            <td>
            
                <table>
                    <tr>
                    
                        <td
                            >
                        
			                loc_start_x
			                
                        </td>
                        <td>
                            <input
                                
                                id="in_anims_options_loc_start_x"
                                value=300
                                onmouseover="this.select()"
                                />
                            
                        </td>
                        <td>
                            
                            starting location (x)
                        
                        </td>
                    
                    </tr>
                
                    <tr>
                    
                        <td>
                        
			                loc_start_y
			                
                        </td>
                        <td>
                            <input
                                
                                id="in_anims_options_loc_start_y"
                                value=150
                                onmouseover="this.select()"
                                />
                            
                        </td>
                        <td>
                            
                            starting location (y)
                        
                        </td>
                    
                    </tr>
                
                    <tr>
                    
                        <td>
                        
			                cut_width
			                
                        </td>
                        <td>
                            <input
                                
                                id="in_anims_options_cut_width"
                                value=120
                                onmouseover="this.select()"
                                />
                            
                        </td>
                        <td>
                            
                            width to cut out
                        
                        </td>
                    
                    </tr>
                
                    <tr>
                    
                        <td>
                        
			                cut_height
			                
                        </td>
                        <td>
                            <input
                                
                                id="in_anims_options_cut_height"
                                value=120
                                onmouseover="this.select()"
                                />
                            
                        </td>
                        <td>
                            
                            height to cut out
                        
                        </td>
                    
                    </tr>
                
                    <tr>
                    
                        <td>
                        
			                rotate_start
			                
                        </td>
                        <td>
                            <input
                            
                                id="in_anims_options_rotate_start"
                                value=0
                                onmouseover="this.select()"
                            />
                            
                        </td>
                        <td>
                            
                            starting degree
                        
                        </td>
                    
                    </tr>
                
                    <tr>
                    
                        <td>
                        
			                rotate_end
			                
                        </td>
                        <td>
                            <input
                            
                                id="in_anims_options_rotate_end"
                                value=45
                                onmouseover="this.select()"
                                
                            />
                            
                        </td>
                        <td>
                            
                            ending degree
                        
                        </td>
                    
                    </tr>
                
                    <tr>
                    
                        <td>
                        
			                rotate_tick
			                
                        </td>
                        <td>
                            <input
                            
                                id="in_anims_options_rotate_tick"
                                value=5
                                onmouseover="this.select()"
                                
                            />
                            
                        </td>
                        <td>
                            
                            rotating tick (degree)
                        
                        </td>
                    
                    </tr>
                
                    <tr>
                    
                        <td>
                        
			                rotate_num
			                
                        </td>
                        <td>
                            <input
                            
                                id="in_anims_options_rotate_num"
                                value=-1
                                onmouseover="this.select()"
                                
                            />
                            
                        </td>
                        <td>
                            
                            num of rotating ticks (how many cuts)
                        
                        </td>
                    
                    </tr>
                
                </table>
            
            
            </td>
        
        </tr>


</table>
