{% load taglib_basic %}

<!-- <div id="div_IFM11_List_Main"> -->

<table id="tbl_IP_Anims_Actions__Header">

        <tr>
            
            <th>
                No.
            </th>
                
            <th>
            
                ID
            
            </th>
            
            <th>
            
                Name
            
            </th>
            
            <th>
            
                Options
            
            </th>
            
        </tr>


    {% include 'anims/partials/anims/_anims_options__1_move_leaves.html' %}
    
    {% include 'anims/partials/anims/_anims_options__2_move_leaves_v-2.html' %}
    
</table>
